@use "../variable" as *;

@media screen and (max-width: 992px) {
  .container {
    margin: 0 $mb-1-5;
  }

  .button {
    padding: 1rem 1.75rem;

    &__icon {
      width: 22px;
      height: 22px;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0 $header-height 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: $mb-3;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
  :root {
    $big-font-size: 2.25rem;
  }

  .container {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 350px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (max-width: 992px) {
      @content;
    }
  }
}
