@use "../variable" as *;

.section {
  padding: 6rem 0 2rem;

  &__title {
    font-size: $h1-font-size;
    color: $title-color;
  }

  &__subtitle {
    display: block;
    font-size: $small-font-size;
    margin-bottom: 4rem;
  }

  &__title,
  &__subtitle {
    text-align: center;
  }
}
