@use "../../assets/scss/variable" as *;
@use "../../assets/scss/abstracts/mixins" as *;

.skills {
  &__content {
    background-color: $container-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
  }

  &__title {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    text-align: center;
    margin-bottom: $mb-1-5;
  }

  &__box {
    display: flex;
    justify-content: center;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(phone) {
      display: grid;
    }
  }

  &__data {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    align-self: flex-start;
    width: 8rem;
    height: 5rem;

    @include respond(phone) {
      width: auto;
    }
  }

  .bx-badge-check {
    font-size: 1rem;
    color: $title-color;
  }

  &__name {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    line-height: 18px;

    @include respond(tab-port) {
      font-size: $small-font-size;
    }
  }

  &__level {
    font-size: $tiny-font-size;
  }
}
